In [1]:
import pandas as pd
import random

In [8]:
dfs = []
dfs.append(pd.read_csv("CONDA_train.csv"))
df = pd.concat(dfs, ignore_index=True)
df.head()

,Id,matchId,conversationId,utterance,chatTime,playerSlot,playerId,intentClass,slotClasses,slotTokens
0,11263,697,3193,wow!,76,0,ANTS IN MY EYES JOHNSON,O,O,"wow (O),"
1,13741,843,3809,WTF,1563,5,M.k,O,T,"WTF (T),"
2,22125,1412,6199,wpe wpe,2853,1,Acqua Ragia,O,O O,"wpe (O), wpe (O),"
3,6453,439,1875,hahaha,1038,0,juicebox,O,O,"hahaha (O),"
4,9644,601,2713,wtf,1661,5,KAIST.Shadows,O,T,"wtf (T),"

In [11]:
trimmed_df = df[df['intentClass'].isin(['E', 'I'])].reset_index(drop=True)
trimmed_df.head()

,Id,matchId,conversationId,utterance,chatTime,playerSlot,playerId,intentClass,slotClasses,slotTokens
0,6208,433,1836,i cant [SEPA] play [SEPA] with 4 trash,1674,6,Vintage <3,E,P O SEPA O SEPA O O O,"i (P), cant (O), [SEPA] (SEPA), play (O), [SEP..."
1,30888,2020,8676,ez mid,3044,8,Hanhan/~,I,S S,"ez (S), mid (S),"
2,5736,408,1717,my arrows [SEPA] always decent [SEPA] fuck u,1955,4,ㅇㅅㅇ COYS,E,P O SEPA O O SEPA T P,"my (P), arrows (O), [SEPA] (SEPA), always (O),..."
3,8653,532,2399,fuyckjerfe,1057,7,MiracleJr,E,O,"fuyckjerfe (O),"
4,34988,2314,9898,gg noob mid invoker,989,3,HookStrike,E,S T S C,"gg (S), noob (T), mid (S), invoker (C),"

In [16]:
final_df = trimmed_df[['utterance']].copy()
final_df['utterance'] = final_df['utterance'].str.replace(r'\[SEPA\]', '', regex=True)
final_df.head()

                          utterance
0       i cant  play   with 4 trash
1                            ez mid
2  my arrows  always decent  fuck u
3                        fuyckjerfe
4               gg noob mid invoker

In [ ]:
final_df['utterance'].to_csv('toxic_utterances.txt', index=False, header=False)